@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root {
    --cor: #0000;
}

body {
	background: #4E77AD; 
}

header { /* menu */
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-link {
    display: flex;
    gap: 3rem;
    font-weight: 450;
    cursor: pointer;  
}

.menu-link a {
    color: #fff;
    font-size: 16px;
}

.menu-link a:hover {
    color:  #041333;
    transition: 0.3s all;
}

.logo i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}


.rodape {
    position: fixed;
    display: inline-flex;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rodape a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 30px;
}

.rodape a:hover {
    width: 180px;
    background-color: transparent;
    color: transparent;
}

.rodape a i {
    transition: 00.3s all;
}

.rodape a:hover > i {
    transform: scale(0) rotate(360deg);
}



nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: rgb(45, 46, 135);
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    background:  #3b5b86;
}

nav .menu-btn i{
    color: #fffefe;
    cursor: pointer;
    display: none;
}

.container {
    max-width: 980px; 
    margin-inline: auto;
    padding: 100px 15px;
    
}
   .faq_header-title {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 30px;
    
    }
    .faq_panel {
    padding: 7px 21px;
    margin-bottom: 24px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    }
    
    .faq_label {
    font-size: 18px;
    font-weight: 600;
    padding-block: 7px; 
    color: #ffffff;
    cursor: pointer;
    }

    .faq_panel-answer {
    color: #ffffff;
     padding-top: 5px; 
     padding-bottom: 7px;
    font-size: 16px;
    }

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color:  #4E77AD;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #0a19a0;
    }   
}