@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

:root {

    --cor: #0000;
 
}

body {
	background: #4E77AD;
	font-family: arial, helvetica, sans-serif; 
	
}

header { /* menu */
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-link {
    display: flex;
    gap: 3rem;
    font-weight: 600;
    cursor: pointer;  
}

.menu-link a {
    color: #fff;
    font-size: 16px;
}

.menu-link a:hover {
    color:  #041333;
    transition: 0.3s all;
}

.logo i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.perfil i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}


.rodape {
    position: fixed;
    display: inline-flex;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rodape a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 30px;
}

.rodape a:hover {
    width: 180px;
    background-color: transparent;
    color: transparent;
}

.rodape a i {
    transition: 00.3s all;
}

.rodape a:hover > i {
    transform: scale(0) rotate(360deg);
}

.rodape :hover h3 {
    font-size: 0.7em !important;
    text-align: center;
    margin-right: 18px;
    transition: 0.1s;
    transition-delay: 0.1s;
}

@media screen and (max-width:200px){ /* resposividade do menu */
    .menu-link {
        display: none;
    }
   
}