

/* css do login */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
	background: #0c0ce94d;
	font-family: arial, helvetica, sans-serif; 
	overflow: hidden; 
}
header { /* menu */
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.menu-link a {
    color: #fff;
    font-size: 14px;
}

.menu-link a:hover {
    color:  #041333;
    transition: 0.3s all;
}

.logo i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.area-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	justify-content: center;
	align-items: center;
  }
  .login{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
	border-radius: 10px;
	width:355px;
	height:320px;
	padding: 35px;
  }
  .login form{
	display: flex;
	width: 100%;
	flex-direction: column;
  }
  
  .login input{
	margin-top:10px;
	background-color: #fff;
	padding-left: 10px;
	color: #cbd0f7;
	border: none;
	height:45px;
	outline: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 6px #0000001c;
  }

.login input:focus-visible {
outline: 1px solid #6c63ff;
}

  .login img{
	width: 65px;
	height: auto;
  }
  input::placeholder{
	color: #53566e;
	font-size: 14px;
   }
  
  form [type ="submit"]{
	display: block;
	background-color: #3065ac;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
  }
  p{
	color: #53566e;
  font-size: 15px;
  }
  a{
	color: #5568fe;
	text-decoration: none;
	margin-left: 10px;
  }

  
  @media screen and (max-width:200px){ /* resposividade do menu */
    .menu-link {
        display: none;
    }
   
}