/* css do login */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
*
 {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
	background: #4E77AD;
	font-family: arial, helvetica, sans-serif; 
	
}

header { /* menu */
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.menu-link {
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;  
}

.menu-link a {
    color: #fff;
    font-size: 16px;
}

.menu-link a:hover {
    color:  #041333;
    transition: 0.3s all;
}

.logo i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.perfil i { /* logo */
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
}

.area-login {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #fff;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
	border-radius: 10px;
	width: 480px;
	height: 460px;
	padding: 35px;
}
  
.login form{
	display: flex;
	width: 100%;
	flex-direction: column;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.text h1 {
    display: block;
    align-items: end;
    color: #21344d;
    font-size: 50px;
    font-weight: bold, italic;
    cursor: pointer;
}

h1.texto-h1 {
    font-size: 40px;

}

.login input{
	margin-top:10px;
	background-color: #fff;
	padding-left: 10px;
	color: #000000;
	border: none ;
	height:30px;
	outline: none;
	border-radius: 8px;
	cursor: pointer;
	box-shadow: 2px 2px 6px #0000007c;
}

.login input:focus-visible {
outline: 1px solid #5950ff;
}

.login img{
	width: 105px;
	height: auto;
}
  input::placeholder{
	color: #0e0f0f;
	font-size: 16px;
   }
  
  form [type ="submit"]{
	display: block;
	background-color: #1457ae;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

p{
	color: #53566e;
  font-size: 15px;
}

a{
	color: #121953;
	text-decoration: none;
	margin-left: 10px;
    font-weight: 450;
}
 
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
nav .logo{
    color: rgb(45, 46, 135);
    font-size: 35px;
    font-weight: 600;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    margin: 0 5px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 30px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
    background:  #3b5b86;
}

nav .menu-btn i{
    color: #fffefe;
    cursor: pointer;
    display: none;
}

.rodape {
    position: fixed;
    display: inline-flex;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.rodape a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #ffffff;
    margin: 0.6px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    font-size: 30px;
}

.rodape a:hover {
    width: 180px;
    background-color: transparent;
    color: transparent;
}

.rodape a i {
    transition: 00.3s all;
}

.rodape a:hover > i {
    transform: scale(0) rotate(360deg);
}

.rodape :hover h3 {
    font-size: 0.7em !important;
    text-align: center;
    margin-right: 18px;
    transition: 0.1s;
    transition-delay: 0.1s;
}

@media (max-width: 920px) {
    nav .menu-btn i{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color:  #4E77AD;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open{
        left: 0;
    }
    nav ul li{
        width: 100%;
        margin: 50px 0;
    }
    nav ul li a {
        font-size: 23px;
    }
    nav ul li a.active,
    nav ul li a:hover{
        background: none;
        color: #0a19a0;
    }   
}